.heroSectionWrapper {
  z-index: 2;
  min-height: 60dvh;

  /* tablets */
  @media screen and ( max-width: 720px ) {
    min-height: 40dvh;
  }
  @media screen and ( max-height: 1280px ) {
    min-height: 40dvh;
  }

  /* phones */
  @media screen and ( max-height: 550px ) {
    min-height: 30dvh;
    margin-top: 30px;
  }

  @media screen and ( max-height: 550px ) {
    min-height: 30dvh;
    margin-top: 30px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .heroWrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

/* Titles */
.presentationTitle {
  font-size: 4.1dvw;

  @media screen and (max-width: 1024px) {
    font-size: 6.6dvw;
  }

  @media screen and (max-width: 800px) {
    font-size: 8.6dvw;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .hiIm {
    font-family: 'Sugar Punch';

    @media screen and (max-width: 445px) {
      margin-bottom: 8px;
    }
  }
  
  .name {
    text-align: center;
    font-family: 'Organic Relief';
    text-transform: uppercase;
  }
}

/* Description Paragraphs */
.descriptionParagraph {
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto Serif";
  font-size: 2dvw;
  font-weight: 400;

  @media screen and (max-width: 1024px) {
    font-size: 3dvw;
  }

  @media screen and (max-width: 800px) {
    font-size: 3.7dvw;
  }

  @media screen and (max-width: 800px) {
    font-size: 4dvw;
  }

  @media screen and (max-width: 445px) {
    font-size: 4.5dvw;
    margin-top: -20px;
  }

  @media screen and ( max-width: 1024px ) {
    margin-top: -30px;
  }

  @media screen and (max-width: 350px) {
    margin-top: -20px;
  }
}

.shapesContainer {
  /* tablets */
  @media screen and ( max-width: 1024px ) {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  
  .shapeImageWrapper {

    .shape {
      position: absolute;
      z-index: 1;
    
      top: 50%;
      transform: translateY(-50%);
    
      width: clamp(80px, 22vw, 500px);
      height: auto;
      pointer-events: none;
      user-select: none;

      /* tablets */
      @media screen and ( max-width: 1024px ) {
        display: flex;
        position: relative;
        transform: translateY(0);
        top: auto;
        width: clamp(80px, 50vw, 500px);
      }
    }
    
    .shape1 {
      left: 0;

      /* tablets */
      @media screen and ( max-width: 1024px ) {
        justify-self: flex-start;
      }
    }
    
    .shape2 {
      right: 0;

      /* tablets */
      @media screen and ( max-width: 1024px ) {
        justify-self: flex-end;
        margin-top: -500px;
      }

      @media screen and (max-width: 840px) {
        margin-top: -430px;
      }

      @media screen and (max-width: 740px) {
        margin-top: -370px;
      }

      @media screen and (max-width: 605px) {
        margin-top: -300px;
      }

      @media screen and ( max-width: 500px ) {
        margin-top: -200px;
      }

      @media screen and (max-width: 340px) {
        margin-top: -185px;
      }
    }
  }
}



/* visible content only for mobile */
@media screen and ( max-width: 550px ) {
  .descriptionParagraph::first-letter {
    text-transform: uppercase;
  }
  .notVisibleOnMobile {
    display: none;
  }
}

@media screen and (max-width: 445px) {
  .onlyVisibleOnMobile {
    display: flex;
  }
}