/* theme config
*/
:root {
  --bg-color: linear-gradient(180deg, #000 0%, #000 41.44%, #000 100%);
  --text-color: #fff;
}

.light {
  --bg-color: #fff;
  --text-color: #000;
}

.dark {
  --bg-color: #000;
  --text-color: #fff;
}

/* basic reset
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #000 0%, #000 41.44%, #000 100%);

  background: var(--bg-color);
  color: var(--text-color);

  display: flex;
  max-height: 1080px;
  padding: 0px 150px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  align-self: stretch;
}

/* lists
*/
ul, ol {
  list-style: none;
}

/* links'n buttons
*/
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}